spring:
  profiles:
    active: test
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 1q2w3e4r
    url: jdbc:mysql://localhost:3306/dream?characterEncoding=utf-8&useSSL=false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  jpa:
      open-in-view: true
      show-sql: true

  redis:
    #数据库索引
    database: 0
    #IP地址
    host: 127.0.0.1
    #端口
    port: 6379
    #密码
    password:
    pool:
      #连接池最大链接数
      max-active: 8
      #连接池最大阻塞等待时间（使用负值表示没有限制）
      max-wait: 1
      #最小空闲链接
      min-idle: 0
      #最大空闲链接
      max-idle: 8
    #链接超市时间 毫秒
    timeout: 0


banner:
  location: static/banner.txt
  charset: UTF-8
email:
  registerActivicateLinkUrl: http://139.129.93.213:3000/register/activate?username=$username$&activateCode=$code$
  username: customerservice@smiletoword.com
  password: 1q2w3e4r
  host: smtp.ym.163.com
  port: 25
server:
  port: 8080
  context-path: /dream

---
spring:
  profiles: test
  datasource:
      driver-class-name: com.mysql.jdbc.Driver
      username: root
      password: 1q2w3e4r
      url: jdbc:mysql://127.0.0.1:3306/dream?characterEncoding=utf-8&useSSL=false
server:
  port: 8080

---
spring:
  profiles: prod
  datasource:
      driver-class-name: com.mysql.jdbc.Driver
      username: root
      password: 1q2w3e4r
      url: jdbc:mysql://127.0.0.1:3306/sell?characterEncoding=utf-8&useSSL=false
server:
  port: 8080
